button{
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  display: flex;
  padding: 0 40px;
  height: 40px;
  background-color: #1b676b;
  border-radius: 25px;
  /* transition: all .4s; */

 &:hover {
    background: green;
  }

  &.alert {
    background:red;
  }


}
